<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyl.life">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/life"
        android:label="@string/app_name"
        android:roundIcon="@color/colorPrimaryDark"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            android:theme="@style/splash_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/guide_style"/>
        <activity android:name=".activity.BookDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MovieDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>